.game {
  background-color: #ffffff;
  display: inline-block;
  padding:16px 8px;
  position: relative;
}

.head {
  display: flex;
  padding: 4px;
}

.footer {
  display: flex;
  padding: 4px;
  margin-top: 8px;
}

.copyright {
  flex: 1;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
}

.undo {
  flex: 1;
}

.gameover-container {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gameover-text {
  font-weight: bold;
  font-size: 2.7rem;
  position: absolute;
  top: calc(45% - 25px);
  left: 0;
  width: 100%;
  color: #ff00ff;
}